<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create new user</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Appointment Management System | Create User</h1>
    <br/>
    <br/>
    <h3>Create New User</h3>

    <form th:action="@{/}" th:object="${user}" th:method="post">

        <input type="text" th:field="*{firstName}" placeholder="First Name" class="form-control mb-4 col-4" required>
        <input type="text" th:field="*{lastName}" placeholder="Last Name" class="form-control mb-4 col-4" required>
        <input type="number" min="1" max="130" th:field="*{age}" placeholder="Age" class="form-control mb-4 col-4" required>
        <select th:field="*{gender}" class="form-control mb-4 col-4" required>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Other">Other</option>
        </select>
        <input type="email" th:field="*{email}" placeholder="Email" class="form-control mb-4 col-4" required>
        <small>Format: ###-###-####</small>
        <input type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" th:field="*{phoneNumber}" placeholder="Phone Number" class="form-control mb-4 col-4" required>

        <button type="submit" class="btn btn-info col-2">Save
            User</button>
    </form>

    <hr>

    <a href="/users">Back to User List</a>
</div>
</body>
</html>