<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create New Appointment</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <style>
        h1 {text-align:center;margin: 0.5em 0 0.5em 0;}
    </style>
</head>
<body>
<div class="container">
    <h1>Appointment Management System | Create Appointment</h1>
    <br/>
    <br/>
    <h3>Create New Appointment</h3>
    <br>

    <form th:action="@{/{userId}/appointments(userId=${user.id})}" th:object="${appt}" th:method="post">

        <input type="hidden" th:field="*{userId}" th:value="${user.id}">

        <label for="name">Appointment Name</label>
        <input id="name"type="text" th:field="*{apptName}" placeholder="Give your appointment a name." class="form-control mb-4 col-4" required>

        <label for="type">Appointment Type</label>
        <select id="type" th:field="*{apptType}" class="form-control mb-4 col-4" required>
            <option value="PRIMARY_CARE">Primary Care</option>
            <option value="OPTOMETRIST">Optometrist</option>
            <option value="DENTIST">Dentist</option>
            <option value="DERMATOLOGIST">Dermatologist</option>
        </select>

        <label for="desc">Appointment Description</label>
        <input id="desc" type="text" th:field="*{description}" placeholder="Provide a brief description." class="form-control mb-4 col-4">

        <label for="start">Start Date/Time</label>
        <input id="start" type="datetime-local" name="startTime" th:field="*{startTime}" class="form-control mb-4 col-4" required>

        <label for="end">End Date/Time</label>
        <input id="end" type="datetime-local" name="endTime" th:field="*{endTime}" class="form-control mb-4 col-4" required>

        <label for="meta">Metadata</label>
        <input id="meta" type="text" th:field="*{metadata}" placeholder="Provide any additional information." class="form-control mb-4 col-4">

        <button type="submit" class="btn btn-info col-2">Save Appointment</button>
    </form>

    <hr>

    <a href="javascript:history.back()">Back to User</a>

    <br/>
    <br/>
    <br/>
    <br/>
</div>
</body>
</html>