<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit user</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <style>
        h1 {text-align:center;margin: 0.5em 0 0.5em 0;}
    </style>
</head>
<body>
<div class="container">
    <h1>Appointment Management System | Edit User</h1>
    <br/>
    <br/>
    <h3>Edit User</h3>

    <form th:action="@{/{userId}(userId=${user.id})}" th:object="${user}" th:method="put">
        <label for="firstName">First Name:</label>
        <input id="firstName" type="text" th:field="*{firstName}" placeholder="First Name" class="form-control mb-4 col-4" required>

        <label for="lastName">Last Name:</label>
        <input id="lastName" type="text" th:field="*{lastName}" placeholder="Last Name" class="form-control mb-4 col-4" required>

        <label for="age">Age:</label>
        <input id="age" type="number" min="1" max="130" th:field="*{age}" placeholder="Age" class="form-control mb-4 col-4" required>

        <label for="gender">Gender:</label>
        <select id="gender" th:field="*{gender}" class="form-control mb-4 col-4" required>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Other">Other</option>
        </select>

        <label for="email">Email:</label>
        <input id="email" type="email" th:field="*{email}" placeholder="Email" class="form-control mb-4 col-4" required>

        <label for="phoneNumber">Phone Number:</label>
        <br/>
        <small>Format: ###-###-####</small>
        <input id="phoneNumber" type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" th:field="*{phoneNumber}" placeholder="Phone Number" class="form-control mb-4 col-4" required>

        <button type="submit" class="btn btn-info col-2">Save Changes</button>
    </form>

    <hr>

    <a href="/users">Back to User List</a>

    <br/>
    <br/>
    <br/>
    <br/>
</div>
</body>
</html>