<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Appointment Mgmt System</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Appointment Management System | Admin</h1>
    <hr>

    <form>
        <input type="button" value="List all users" onclick="window.location.href='/users'" />
    </form>

    <br />

    <form>
        <input type="button" value="List all appointments" onclick="window.location.href='/appointments'" />
    </form>

    <br />
</div>
</body>
</html>