<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Appointment Mgmt System</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Appointment Management System | Admin</h1>
    <hr>
    <br/>

    <div class="grid">
        <div class="row">
            <div class="col-6 container text-center">
                <a href="/users">
                    <img src=".././static/images/user.png" class="col-4"><br/>
                    <h2>Users</h2>
                </a>
            </div>
            <div class="col-6  container text-center">
                <a href="/appointments">
                    <img src=".././static/images/appointment.png" class="col-4"><br/>
                    <h2>Appointments</h2>
                </a>
            </div>
        </div>

    </div>

    <br />
    <footer class="mt-5 text-center">
        <p>Developed by Kevin Lutz and Rayaan Attari</p>
        <a href="http://www.perficient.com" target="_blank"> <img src=".././static/images/prft-logo.png" class="col-2"> </a>
    </footer>
</div>
</body>
</html>